<div class="partie-container">
  <div class="question-container">
    @if (currentEtatQuestion() !== EtatQuestion.START_QUESTION) {
      <div class="champ image-question-container">
        <img src="{{ currentQuestion().image }}" />
      </div>
    }
    <div class="champ libelle-question-container">
      @if (
        ![EtatQuestion.START_QUESTION, EtatQuestion.IMAGE_AFFICHEE].includes(currentEtatQuestion())
      ) {
        <span class="question-text">{{ currentQuestion().question }}</span>
      }
    </div>
  </div>
</div>
