.homepage-container {
  background-color: blue;
  height: 100vh;
  width: 100vw;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow-y: auto;

  .pdla-logo-container {
    margin-top: -30vh;
    height: 70vh;
    overflow: hidden;
    .pdla-logo {
      height: 75vh;
    }
  }

  .homepage-menu {
    .btn {
      width: 45vw;
    }
    .btn-gestion {
      &:hover {
        background-color: yellow;
        border-color: rgb(128, 20, 83) !important;
      }
    }
  }
}
