<h2>Lancer une nouvelle partie</h2>
<mat-dialog-content class="lobby-partie-container">
  <form [formGroup]="partieALancerForm">
    <div class="equipes-form-container">
      <mat-form-field class="equipe-input">
        <mat-label>Equipe A</mat-label>
        <input matInput formControlName="nomEquipeA" />
        <mat-hint>Cette équipe commencera en premier</mat-hint>
      </mat-form-field>
      <mat-form-field class="equipe-input">
        <mat-label>Equipe B</mat-label>
        <input matInput formControlName="nomEquipeB" />
      </mat-form-field>
    </div>
    <mat-form-field class="partie-form-container">
      <mat-label>Partie à jouer</mat-label>
      <mat-select formControlName="idPartie">
        @for (partie of allParties(); track partie) {
          <mat-option [value]="partie.id">{{ partie.nomPartie }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn champ" mat-dialog-close>Annuler</button>
  <button
    class="btn champ lancer-partie"
    (click)="lancerPartie()"
    [disabled]="partieALancerForm.invalid"
  >
    Lancer la partie
  </button>
</mat-dialog-actions>
